/*-- Body Reset --*/

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

h2, h3, h5 {
  font-family: 'Raleway', sans-serif;
  color: #3c3c3c;
}

h2 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #666;
}

.btn-g {
  color: rgb(79, 166, 161);
  border-color: rgb(79, 166, 161);
  padding: 0.5rem 2rem;
  border-radius: 0;
}

.btn-g:hover {
  color: white;
  background-color: rgb(119, 191, 188);
}

.homebutton {
  background-color: rgba(119, 191, 188, 0.9);
  color: white;
  padding: 0 1rem;
  position: fixed;
  bottom: 0.8rem;
  right: 0.8rem;
  border-radius: none;
  z-index: 1;
}
.homebutton:hover{
  color: white;
}

li {
  list-style-type: none;
}

.text-g {
  color: rgb(79, 166, 161);
}

/*-- Top-bar --*/

.address-item {
  position: relative;
  margin-left: 4.5rem;
}

.address-item .svg-inline--fa {
  display: block;
  position: absolute;
  left: .5rem;
  top: 1rem;
  font-size: 1.1rem;
}

.address-item p, .address-item a {
  margin: 0;
  padding-left: 2.2rem;
}

.address-item a:hover {
  text-decoration: none;
  color: rgb(79, 166, 161);
}

.desc {
  color: rgb(119, 191, 188);
  font-weight: 600;
}

/* -- nav-bar-- */

.container {
  /* border: black solid 1px; */
}

.navbar-toggler {
  border: none;
}

.main-nav {
  background-color: rgb(119, 191, 188)!Important;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link {
  padding: 1rem 1.2rem!Important;
  color: rgb(255, 255, 255)!Important;
  text-transform: uppercase;
}

.active, .menu li:hover {
  background-color: rgb(79, 166, 161);
}

.social .svg-inline--fa {
  font-size: 1.3rem;
}

/*-- End nav-bar--*/

/*-- Carousel--*/

.carousel-caption {
  position: absolute;
  top: 54%;
  transform: translateY(-65%);
  font-size: 1rem;
}

.carousel-caption>h2 {
  font-size: 3rem;
}

.carousel .carousel-indicators li {
  width: .625rem;
  height: .625rem;
  cursor: pointer;
  border-radius: 50%;
}

/*-- FIXED BACKGROUND IMG--*/

.fixed {
  background-image: url('../img/paralax.jpg');
  background-position: center;
  background-attachment: fixed;
   }

.overlay {
  background-color: rgba(69, 166, 160, 0.85);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.counter {
  background-color:#f5f5f5;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

/*-- Three section colomn--*/

.cell {
  position: relative;
  margin-left: 6rem;
}

.icons {
  font-size: 4rem;
  position: absolute;
}

.icons:hover {
  color: #3c3c3c;
  ;
  font-size: 4.5rem;
  transition: ease-in-out .5s;
}

.cell p {
  line-height: 2rem;
}

.cell h5:hover {
  color: rgb(119, 191, 188);
}

/*-- Gallery--*/

.item {
  overflow: hidden;
  margin:0;
  background: rgba(79, 166, 161, 0.9);
  color: #fff;
  position: relative;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10%;
  color: #fff;
  width: 100%;
  opacity: 1;
  transition: 0.8s ease;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.3));
}

.image {
  transition: 0.8s ease;
 }

/*-- Pricing--*/

.card-header {
  background-color: rgb(79, 166, 161);
  color: white;
}

input, textarea:focus {
  outline: none;
}

footer {
  background-color: #3C3C3C;
  color: rgb(186, 235, 233);
  font-weight: 300;
}

footer a {
  color: rgb(186, 235, 233);
}

footer a:hover {
  color: rgb(79, 166, 161);
  text-decoration: none;
 }

@media (max-width: 992px) {
  .social {
    display: none;
  }
}

@media (min-width: 576px) {
  h2{
    font-size: 2rem;
  }
  .gallery-block.compact-gallery .item .description {
    opacity: 0;
  }
  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1;
  }
  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.7;
  }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/

.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/


/* .fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
} */