/*-- Body Reset --*/

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

a {
  text-decoration: none;
  color: #666;
}

li {
  list-style-type: none;
}

/*-- Top-bar --*/

.top-bar {
  min-height: 60px;
  padding: 1.2rem auto;
}

.address-item {
  position: relative;
  margin: 1rem;
}

.address-item .svg-inline--fa {
  display: block;
  position: absolute;
  left: .5rem;
  top: 1rem;
  font-size: 1.1rem;
}

.address-item p, .address-item a {
  margin: 0;
  padding: 0 2.2rem;
}

.address-item a:hover {
  text-decoration: none;
  color: rgb(79, 166, 161);
}

.desc {
  color: rgb(119, 191, 188);
  font-weight: 600;
}

/*-- nav-bar*/

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-toggler {
  border: none;
}

.main-nav {
  background-color: rgb(119, 191, 188)!Important;
}

.main-nav a {
  color: rgb(255, 255, 255)!Important;
  margin: .6rem 1rem;
  text-transform: uppercase;
}

.active, .menu li:hover {
  background-color: rgb(79, 166, 161);
}

.social .svg-inline--fa {
  font-size: 1.3rem;
}
.social a{
  margin: auto 0.5rem;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/